<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>  
    <div class="logo"><img src="static/logo.png" alt="" id="logo">
    </div>
    <div class="container">
        <form action="/" method="post" enctype="multipart/form-data">
        <input type='file' accept='image/*' name='file' required/><br><br>
        <input type="submit" value="Submit">
    </form>
    <hr>
    {% if result %}
    <p>{{result}}</p>
    <img src="{{image}}" alt="">
    {% endif %}
    {%if error%}
    <p>{{error}}</p>
    {% endif %}    
</div>
</body>
</html>